<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.juliana.loureiro.projetofinalahp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.TelaPrincipal"

            android:label="@string/app_name" />
        <activity
            android:theme="@style/AppTheme2"
            android:name=".Activity.Saudacao"
            android:label="@string/app_name" />

        <activity
            android:name=".Activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppCompat.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.TelaFuncaoAHP" />
        <activity
            android:theme="@style/AppTheme2"
            android:name=".Activity.SobreAHP"></activity>
        <activity android:name=".Activity.Preferencias"
            android:label="Preferências"></activity>
        <activity android:name=".Activity.Resultados"
            android:label="Resultados"></activity>
        <activity
            android:theme="@style/AppTheme2"
            android:name=".Activity.Tutorial" />
    </application>

</manifest>